/* GRID EXPANSION */


/* GRID VARIABLES: These define the available widths for our gride items */

$one-sixth: 16.6666%;
$one-fifth: 20%;
$one-quarter: 25%;
$one-third: 33.3333%;
$two-fifths: 40%;
$half: 50%;
$two-thirds: 66.6666%;
$three-quarters: 75%;
$full: 100%;

.grid {
  @include breakpoint-5 {
    margin-left: -$natural; /* This negative margin compensates for the left margins, necessary for "rows" of content which come at later breakpoints */
  }

  @include breakpoint-9 {
    margin-left: -$loose; /* This negative margin compensates for the left margins, necessary for "rows" of content which come at later breakpoints */
  }
}

.grid__item {
  /*
  DEFINED WIDTHS:
  After certain breakpoints we start to have room for horizontal "rows" of content, so can define the widths of each grid item.
  This is only a very general evolution of the grid, as it scales. Layout spacing and grid distribution spacing will affect the appearance of each gride item.
  */

  @include breakpoint-5 {
    padding-left: $natural;
  }

  @include breakpoint-9 {
    width: $half;
  }

  @include breakpoint-9 {
    padding-left: $loose;
  }

  @include breakpoint-12 {
    width: $one-third;
  }

  @include breakpoint-23 {
    width: $one-quarter;
  }
}
