/* THEME BASCIS: Basic styling that we'll need in all projects */
/* VARIABLES: Variables can be adjusted project-by-project */


/* FONT FAMILIES */

$base-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$heading-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;


/* BRAND COLOURS */

$brand1: #F7931E; /* orange */
$brand2: #8B032C; /* red */
$brand3: #FEC133; /* yellow */
/* etc. */


/* GENERAL COLOR */

$base-background-color: #fff;

$base-text-color: #333;
$heading-text-color: #333;

$link-text-color: blue;
$link-visited-text-color: purple;
$link-hover-text-color: green;
$link-active-text-color: red;


/* BASIC THEME DEPLOY */

html {
  font-family: $base-font-family;
}

body {
  background: $base-background-color;
  color: $base-text-color;
}

h1, h2, h3, h4, h5, h6 {
  color: $heading-text-color;
  font-family: $heading-font-family;
  font-weight: bold;
}

blockquote {
  border: 1px dashed #aaa;
  font-size: $medium;
  line-height: 1.3;
  padding: $base;

  @include breakpoint-5 {
    blockquote {
      padding: $medium;
    }
  }
}


/* LINKS & BUTTONS */

a {
  color: $link-text-color;
  font-weight: bold;

  &:visited {
    color: $link-visited-text-color;
  }

  &:hover {
    color: $link-hover-text-color;
  }

  &:active {
    color: $link-active-text-color;
  }
}

button {
  background: none;
  font-size: $standard;
}

.btn, button {
  border: 0.2em solid;
  border-radius: 0.5em;
  color: $link-text-color;
  display: block;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: $small;
  width: 100%;

  &:visited {
    color: $link-visited-text-color;
  }

  &:hover {
    background: $link-hover-text-color;
    border-color: $link-hover-text-color;
    color: $base-background-color;
    cursor: pointer;
  }

  &:active {
    background: $link-active-text-color;
    border-color: $link-active-text-color;
  }

  &--secondary {
    display: inline-block;
    width: auto;
  }

  @include breakpoint-3 {
    padding: $small $medium;
  }

  @include breakpoint-5 {
    display: inline-block;
    width: auto;
  }
}


/* SHADING */

@mixin standard-shadow {
  box-shadow: 0 0 $small rgba($base-text-color,0.1);
}


/* FORMS */

legend {
  font-weight: bold;
}

input, label {
  font-size: $standard;
}

input, textarea, select {
  border: 1px solid #888;
  font-family: $base-font-family;
  font-size: 1em;
  padding: $small;
  width: 100%;
}

option {
  margin-top: 0;
}


/* IMAGERY */

figcaption {
  border: 1px dashed #aaa;
  font-size: $small;
  line-height: 1.3;
  margin-top: 0; /* OWL TURN OFF */
  padding: $standard;
}
