/* THEME STRUCTURE: Styling only for the purposes of low-fidelity wireframes */

html {
  min-height: 100%;
}

body {
  min-height: 100%;
}


/* LAYOUT */

.section {
  overflow: hidden;

  &--separated {
    border: 1px dashed #aaa;
  }
}

.block {
  border: 1px dashed #aaa;
  color: $base-text-color;

  &:hover {
    color: $base-text-color;
  }
}


/* HEADER */

.header {
  .container {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  .logo {
    height: $luxury;
  }

  .menu {
    align-items: center;
    display: none;
    margin-top: 0;

    @include breakpoint-12 {
      display: flex;
    }
  }

  .menu__button {
    margin-top: 0; /* OWL TURN OFF */
    padding: $small;
    width: auto;

    @include breakpoint-12 {
      display: none;
    }
  }

  .menu__item {
    list-style: none;
    margin-left: 0;
    margin-top: 0;
    padding-left: $large;
  }
}


/* FOOTER */

.footer {
  .logo {
    height: $luxury;
  }

  &__icon {
    display: inline-block;
    height: $luxury;
    margin-right: $base;
    margin-top: 0;
  }
}


/* FORMS */

input, textarea, select {
  & + .small {
    margin-top: $tight;
  }
}

fieldset {
  border: none;
  padding: 0;
}


/* BUTTONS */

.btn {
  &--secondary {
    font-size: $small;

    & + .btn--secondary {
      margin-left: $small;
    }
  }
}
