/* THEME STYLING: Project-specific and high-fidelity visual styling */

ul, li {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

li + li {
  margin-top: $small;
}

code {
  background: $base-text-color;
  color: $base-background-color;
  display: inline-block;
  padding: $small;
  width: auto !important;
}
