/* LAYOUT SIZING */
/* Root spacing - only affected by html font size */
/* TYPOGRAPHY SIZING */
/* Relative spacing - can inherit local parent or element font size */
/* BREAKPOINTS: Many breakpoints, and small increments between them, means lots of control over our designs. */
/* STARTING AT 0, THE INCREMENT BETWEEN EACH BREAKPOINT */
/* BASIC TYPOGRAPHY AND LAYOUT */
/* TYPOGRAPHY BASICS */
/* AXIOMATIC SPACING AND ROOT TYPOGRAPHY */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }
  * + * {
    margin-top: 1rem; }

html {
  font-size: 100%;
  /* FALLBACK DEFAULT: Best not to change. Adjustments and fine tuning can be done in the "typography-scaling" stylesheet */
  line-height: 1.5;
  -webkit-text-size-adjust: 100%;
  /* Prevent font scaling in landscape while allowing user zoom */ }

body {
  margin-top: 0;
  /* Axiomatic exception */ }

/* TEXT SIZING */
.xxx-large {
  font-size: 7.59375em;
  line-height: 1.1; }

.xx-large {
  font-size: 5.0625em;
  line-height: 1.1; }

.x-large {
  font-size: 3.375em;
  line-height: 1.1; }

h1, .large {
  font-size: 2.25em;
  line-height: 1.2; }

h2, .medium {
  font-size: 1.5em;
  line-height: 1.3; }

h3, .standard {
  font-size: 1em;
  line-height: 1.4; }

h4, h5, h6, .standard {
  font-size: 1em;
  line-height: 1.4; }

.small {
  font-size: 0.66667em; }
  .small * + * {
    margin-top: 0.66667em; }
  .small + .small {
    margin-top: 0.66667em; }

p {
  line-height: 1.5 !important; }

br {
  margin-top: 0; }

/* LINE LENGTH LIMITS */
p, h1, h2, h3, h4, h5, h6, blockquote, label, input, textarea, select, button, .btn {
  max-width: 45em;
  /* Optimum maximum line length, relative to font size */ }

.lockup * {
  max-width: 45rem;
  /* Optimum maximum line length, relative to root font size. Great for a standardised-width gathering of text with varying font sizes */
  width: 100%; }

/* LONG-FORM: Adapted rules for long stretches of text, such as articles. */
.long-form * + h2, .long-form * + h3, .long-form * + h4, .long-form * + h5, .long-form * + h6 {
  margin-top: 1.5em; }
.long-form * + h1 + p, .long-form * + h2 + p, .long-form * + h3 + p, .long-form * + h4 + p, .long-form * + h5 + p, .long-form * + h6 + p {
  margin-top: 1em; }

/* LISTS */
li {
  list-style: disc;
  margin-left: 1.5em; }
  * + li {
    margin-top: 0; }

/* FORMS */
fieldset {
  padding: 1rem; }

input, label {
  display: block; }

input, textarea, select {
  margin-top: 0.66667em; }
  input[type="radio"], input[type="checkbox"], textarea[type="radio"], textarea[type="checkbox"], select[type="radio"], select[type="checkbox"] {
    display: inline-block;
    height: 1rem;
    margin-right: 0.66667em;
    margin-top: 0.66667em;
    vertical-align: middle;
    width: 1rem; }
    input[type="radio"] + p, input[type="checkbox"] + p, textarea[type="radio"] + p, textarea[type="checkbox"] + p, select[type="radio"] + p, select[type="checkbox"] + p {
      display: inline-block;
      left: 0;
      margin-right: 1rem;
      margin-top: 0.66667em;
      vertical-align: middle; }

/* LAYOUT BASICS */
/* IMAGES */
img {
  border: none;
  display: block;
  max-width: 100%; }

/* CONTAINER */
.container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  max-width: 120em;
  padding: 3.375rem 1rem;
  position: relative; }

.section:not(.section--separated) + .section:not(.section--separated) > .container {
  padding-top: 0; }

/* SECTIONS */
.section {
  margin-top: 0; }

/* BLOCKS */
.block {
  display: block;
  text-decoration: none; }
  .block p {
    font-weight: normal; }
  * + .block {
    margin-top: 2.25rem; }
  .block + * {
    margin-top: 2.25rem; }
  .block .container {
    padding-bottom: 2.25rem;
    padding-top: 2.25rem; }
  .block--card .container {
    padding-bottom: 1rem;
    padding-top: 1rem; }

* + form, * + fieldset {
  margin-top: 2.25rem; }
form + *, fieldset + * {
  margin-top: 2.25rem; }

/* GRID */
/* GRID BASICS*/
/* BASIC GRID SETUP: This is mobile-first, so will initially only involve single columns. This means we only need to define the vertical spacing */
.grid {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  margin-top: -2.25rem; }
  * + .grid {
    margin-top: 0; }
  .grid + * {
    margin-top: 2.25rem; }

.grid__item {
  list-style: none;
  margin-left: 0;
  margin-top: 2.25rem;
  padding-left: 0;
  width: 100%; }
  fieldset .grid__item {
    margin-top: 1rem; }

/* GRID EXPANSION */
/* GRID VARIABLES: These define the available widths for our gride items */
@media (min-width: 25em) {
  .grid {
    margin-left: -1.5rem;
    /* This negative margin compensates for the left margins, necessary for "rows" of content which come at later breakpoints */ } }
@media (min-width: 45em) {
  .grid {
    margin-left: -2.25rem;
    /* This negative margin compensates for the left margins, necessary for "rows" of content which come at later breakpoints */ } }

.grid__item {
  /*
  DEFINED WIDTHS:
  After certain breakpoints we start to have room for horizontal "rows" of content, so can define the widths of each grid item.
  This is only a very general evolution of the grid, as it scales. Layout spacing and grid distribution spacing will affect the appearance of each gride item.
  */ }
  @media (min-width: 25em) {
    .grid__item {
      padding-left: 1.5rem; } }
  @media (min-width: 45em) {
    .grid__item {
      width: 50%; } }
  @media (min-width: 45em) {
    .grid__item {
      padding-left: 2.25rem; } }
  @media (min-width: 60em) {
    .grid__item {
      width: 33.3333%; } }
  @media (min-width: 115em) {
    .grid__item {
      width: 25%; } }

/* GRID LIMITS */
/* LIMITING GRID SPACING */
.grid.grid--no-spacing {
  margin-left: 0; }
  .grid.grid--no-spacing > .grid__item {
    padding-left: 0; }
.grid.grid--tight-spacing {
  margin-left: -0.66667rem; }
  .grid.grid--tight-spacing > .grid__item {
    padding-left: 0.66667rem; }
.grid.grid--base-spacing {
  margin-left: -1rem; }
  .grid.grid--base-spacing > .grid__item {
    padding-left: 1rem; }

/* LIMITING GRID WIDTHS */
.grid--limit-1 > .grid__item {
  width: 100%; }
@media (min-width: 45em) {
  .grid--limit-3 > .grid__item {
    width: 33.3333%; } }
@media (min-width: 55em) {
  .grid--limit-2 > .grid__item {
    width: 50%; }
  .grid--limit-4 > .grid__item {
    width: 50%; }
  .grid--limit-6 > .grid__item {
    width: 33.3333%; } }
@media (min-width: 75em) {
  .grid--limit-2 > .grid__item {
    width: 50%; }
  .grid--limit-4 > .grid__item {
    width: 25%; } }

/* GRID OVERRIDES */
@media (min-width: 0) {
  .grid__item.breakpoint-0-one-sixth {
    width: 16.6666%; }
  .grid__item.breakpoint-0-one-fifth {
    width: 20%; }
  .grid__item.breakpoint-0-one-quarter {
    width: 25%; }
  .grid__item.breakpoint-0-one-third {
    width: 33.3333%; }
  .grid__item.breakpoint-0-two-fifths {
    width: 40%; }
  .grid__item.breakpoint-0-half {
    width: 50%; }
  .grid__item.breakpoint-0-two-thirds {
    width: 66.6666%; }
  .grid__item.breakpoint-0-three-quarters {
    width: 75%; }
  .grid__item.breakpoint-0-full {
    width: 100%; } }
@media (min-width: 5em) {
  .grid__item.breakpoint-1-one-sixth {
    width: 16.6666%; }
  .grid__item.breakpoint-1-one-fifth {
    width: 20%; }
  .grid__item.breakpoint-1-one-quarter {
    width: 25%; }
  .grid__item.breakpoint-1-one-third {
    width: 33.3333%; }
  .grid__item.breakpoint-1-two-fifths {
    width: 40%; }
  .grid__item.breakpoint-1-half {
    width: 50%; }
  .grid__item.breakpoint-1-two-thirds {
    width: 66.6666%; }
  .grid__item.breakpoint-1-three-quarters {
    width: 75%; }
  .grid__item.breakpoint-1-full {
    width: 100%; } }
@media (min-width: 10em) {
  .grid__item.breakpoint-2-one-sixth {
    width: 16.6666%; }
  .grid__item.breakpoint-2-one-fifth {
    width: 20%; }
  .grid__item.breakpoint-2-one-quarter {
    width: 25%; }
  .grid__item.breakpoint-2-one-third {
    width: 33.3333%; }
  .grid__item.breakpoint-2-two-fifths {
    width: 40%; }
  .grid__item.breakpoint-2-half {
    width: 50%; }
  .grid__item.breakpoint-2-two-thirds {
    width: 66.6666%; }
  .grid__item.breakpoint-2-three-quarters {
    width: 75%; }
  .grid__item.breakpoint-2-full {
    width: 100%; } }
@media (min-width: 15em) {
  .grid__item.breakpoint-3-one-sixth {
    width: 16.6666%; }
  .grid__item.breakpoint-3-one-fifth {
    width: 20%; }
  .grid__item.breakpoint-3-one-quarter {
    width: 25%; }
  .grid__item.breakpoint-3-one-third {
    width: 33.3333%; }
  .grid__item.breakpoint-3-two-fifths {
    width: 40%; }
  .grid__item.breakpoint-3-half {
    width: 50%; }
  .grid__item.breakpoint-3-two-thirds {
    width: 66.6666%; }
  .grid__item.breakpoint-3-three-quarters {
    width: 75%; }
  .grid__item.breakpoint-3-full {
    width: 100%; } }
@media (min-width: 20em) {
  .grid__item.breakpoint-4-one-sixth {
    width: 16.6666%; }
  .grid__item.breakpoint-4-one-fifth {
    width: 20%; }
  .grid__item.breakpoint-4-one-quarter {
    width: 25%; }
  .grid__item.breakpoint-4-one-third {
    width: 33.3333%; }
  .grid__item.breakpoint-4-two-fifths {
    width: 40%; }
  .grid__item.breakpoint-4-half {
    width: 50%; }
  .grid__item.breakpoint-4-two-thirds {
    width: 66.6666%; }
  .grid__item.breakpoint-4-three-quarters {
    width: 75%; }
  .grid__item.breakpoint-4-full {
    width: 100%; } }
@media (min-width: 25em) {
  .grid__item.breakpoint-5-one-sixth {
    width: 16.6666%; }
  .grid__item.breakpoint-5-one-fifth {
    width: 20%; }
  .grid__item.breakpoint-5-one-quarter {
    width: 25%; }
  .grid__item.breakpoint-5-one-third {
    width: 33.3333%; }
  .grid__item.breakpoint-5-two-fifths {
    width: 40%; }
  .grid__item.breakpoint-5-half {
    width: 50%; }
  .grid__item.breakpoint-5-two-thirds {
    width: 66.6666%; }
  .grid__item.breakpoint-5-three-quarters {
    width: 75%; }
  .grid__item.breakpoint-5-full {
    width: 100%; } }
@media (min-width: 30em) {
  .grid__item.breakpoint-6-one-sixth {
    width: 16.6666%; }
  .grid__item.breakpoint-6-one-fifth {
    width: 20%; }
  .grid__item.breakpoint-6-one-quarter {
    width: 25%; }
  .grid__item.breakpoint-6-one-third {
    width: 33.3333%; }
  .grid__item.breakpoint-6-two-fifths {
    width: 40%; }
  .grid__item.breakpoint-6-half {
    width: 50%; }
  .grid__item.breakpoint-6-two-thirds {
    width: 66.6666%; }
  .grid__item.breakpoint-6-three-quarters {
    width: 75%; }
  .grid__item.breakpoint-6-full {
    width: 100%; } }
@media (min-width: 35em) {
  .grid__item.breakpoint-7-one-sixth {
    width: 16.6666%; }
  .grid__item.breakpoint-7-one-fifth {
    width: 20%; }
  .grid__item.breakpoint-7-one-quarter {
    width: 25%; }
  .grid__item.breakpoint-7-one-third {
    width: 33.3333%; }
  .grid__item.breakpoint-7-two-fifths {
    width: 40%; }
  .grid__item.breakpoint-7-half {
    width: 50%; }
  .grid__item.breakpoint-7-two-thirds {
    width: 66.6666%; }
  .grid__item.breakpoint-7-three-quarters {
    width: 75%; }
  .grid__item.breakpoint-7-full {
    width: 100%; } }
@media (min-width: 40em) {
  .grid__item.breakpoint-8-one-sixth {
    width: 16.6666%; }
  .grid__item.breakpoint-8-one-fifth {
    width: 20%; }
  .grid__item.breakpoint-8-one-quarter {
    width: 25%; }
  .grid__item.breakpoint-8-one-third {
    width: 33.3333%; }
  .grid__item.breakpoint-8-two-fifths {
    width: 40%; }
  .grid__item.breakpoint-8-half {
    width: 50%; }
  .grid__item.breakpoint-8-two-thirds {
    width: 66.6666%; }
  .grid__item.breakpoint-8-three-quarters {
    width: 75%; }
  .grid__item.breakpoint-8-full {
    width: 100%; } }
@media (min-width: 45em) {
  .grid__item.breakpoint-9-one-sixth {
    width: 16.6666%; }
  .grid__item.breakpoint-9-one-fifth {
    width: 20%; }
  .grid__item.breakpoint-9-one-quarter {
    width: 25%; }
  .grid__item.breakpoint-9-one-third {
    width: 33.3333%; }
  .grid__item.breakpoint-9-two-fifths {
    width: 40%; }
  .grid__item.breakpoint-9-half {
    width: 50%; }
  .grid__item.breakpoint-9-two-thirds {
    width: 66.6666%; }
  .grid__item.breakpoint-9-three-quarters {
    width: 75%; }
  .grid__item.breakpoint-9-full {
    width: 100%; } }
@media (min-width: 50em) {
  .grid__item.breakpoint-10-one-sixth {
    width: 16.6666%; }
  .grid__item.breakpoint-10-one-fifth {
    width: 20%; }
  .grid__item.breakpoint-10-one-quarter {
    width: 25%; }
  .grid__item.breakpoint-10-one-third {
    width: 33.3333%; }
  .grid__item.breakpoint-10-two-fifths {
    width: 40%; }
  .grid__item.breakpoint-10-half {
    width: 50%; }
  .grid__item.breakpoint-10-two-thirds {
    width: 66.6666%; }
  .grid__item.breakpoint-10-three-quarters {
    width: 75%; }
  .grid__item.breakpoint-10-full {
    width: 100%; } }
@media (min-width: 55em) {
  .grid__item.breakpoint-11-one-sixth {
    width: 16.6666%; }
  .grid__item.breakpoint-11-one-fifth {
    width: 20%; }
  .grid__item.breakpoint-11-one-quarter {
    width: 25%; }
  .grid__item.breakpoint-11-one-third {
    width: 33.3333%; }
  .grid__item.breakpoint-11-two-fifths {
    width: 40%; }
  .grid__item.breakpoint-11-half {
    width: 50%; }
  .grid__item.breakpoint-11-two-thirds {
    width: 66.6666%; }
  .grid__item.breakpoint-11-three-quarters {
    width: 75%; }
  .grid__item.breakpoint-11-full {
    width: 100%; } }
@media (min-width: 60em) {
  .grid__item.breakpoint-12-one-sixth {
    width: 16.6666%; }
  .grid__item.breakpoint-12-one-fifth {
    width: 20%; }
  .grid__item.breakpoint-12-one-quarter {
    width: 25%; }
  .grid__item.breakpoint-12-one-third {
    width: 33.3333%; }
  .grid__item.breakpoint-12-two-fifths {
    width: 40%; }
  .grid__item.breakpoint-12-half {
    width: 50%; }
  .grid__item.breakpoint-12-two-thirds {
    width: 66.6666%; }
  .grid__item.breakpoint-12-three-quarters {
    width: 75%; }
  .grid__item.breakpoint-12-full {
    width: 100%; } }
@media (min-width: 65em) {
  .grid__item.breakpoint-13-one-sixth {
    width: 16.6666%; }
  .grid__item.breakpoint-13-one-fifth {
    width: 20%; }
  .grid__item.breakpoint-13-one-quarter {
    width: 25%; }
  .grid__item.breakpoint-13-one-third {
    width: 33.3333%; }
  .grid__item.breakpoint-13-two-fifths {
    width: 40%; }
  .grid__item.breakpoint-13-half {
    width: 50%; }
  .grid__item.breakpoint-13-two-thirds {
    width: 66.6666%; }
  .grid__item.breakpoint-13-three-quarters {
    width: 75%; }
  .grid__item.breakpoint-13-full {
    width: 100%; } }
@media (min-width: 70em) {
  .grid__item.breakpoint-14-one-sixth {
    width: 16.6666%; }
  .grid__item.breakpoint-14-one-fifth {
    width: 20%; }
  .grid__item.breakpoint-14-one-quarter {
    width: 25%; }
  .grid__item.breakpoint-14-one-third {
    width: 33.3333%; }
  .grid__item.breakpoint-14-two-fifths {
    width: 40%; }
  .grid__item.breakpoint-14-half {
    width: 50%; }
  .grid__item.breakpoint-14-two-thirds {
    width: 66.6666%; }
  .grid__item.breakpoint-14-three-quarters {
    width: 75%; }
  .grid__item.breakpoint-14-full {
    width: 100%; } }
@media (min-width: 75em) {
  .grid__item.breakpoint-15-one-sixth {
    width: 16.6666%; }
  .grid__item.breakpoint-15-one-fifth {
    width: 20%; }
  .grid__item.breakpoint-15-one-quarter {
    width: 25%; }
  .grid__item.breakpoint-15-one-third {
    width: 33.3333%; }
  .grid__item.breakpoint-15-two-fifths {
    width: 40%; }
  .grid__item.breakpoint-15-half {
    width: 50%; }
  .grid__item.breakpoint-15-two-thirds {
    width: 66.6666%; }
  .grid__item.breakpoint-15-three-quarters {
    width: 75%; }
  .grid__item.breakpoint-15-full {
    width: 100%; } }
@media (min-width: 80em) {
  .grid__item.breakpoint-16-one-sixth {
    width: 16.6666%; }
  .grid__item.breakpoint-16-one-fifth {
    width: 20%; }
  .grid__item.breakpoint-16-one-quarter {
    width: 25%; }
  .grid__item.breakpoint-16-one-third {
    width: 33.3333%; }
  .grid__item.breakpoint-16-two-fifths {
    width: 40%; }
  .grid__item.breakpoint-16-half {
    width: 50%; }
  .grid__item.breakpoint-16-two-thirds {
    width: 66.6666%; }
  .grid__item.breakpoint-16-three-quarters {
    width: 75%; }
  .grid__item.breakpoint-16-full {
    width: 100%; } }
@media (min-width: 85em) {
  .grid__item.breakpoint-17-one-sixth {
    width: 16.6666%; }
  .grid__item.breakpoint-17-one-fifth {
    width: 20%; }
  .grid__item.breakpoint-17-one-quarter {
    width: 25%; }
  .grid__item.breakpoint-17-one-third {
    width: 33.3333%; }
  .grid__item.breakpoint-17-two-fifths {
    width: 40%; }
  .grid__item.breakpoint-17-half {
    width: 50%; }
  .grid__item.breakpoint-17-two-thirds {
    width: 66.6666%; }
  .grid__item.breakpoint-17-three-quarters {
    width: 75%; }
  .grid__item.breakpoint-17-full {
    width: 100%; } }
@media (min-width: 90em) {
  .grid__item.breakpoint-18-one-sixth {
    width: 16.6666%; }
  .grid__item.breakpoint-18-one-fifth {
    width: 20%; }
  .grid__item.breakpoint-18-one-quarter {
    width: 25%; }
  .grid__item.breakpoint-18-one-third {
    width: 33.3333%; }
  .grid__item.breakpoint-18-two-fifths {
    width: 40%; }
  .grid__item.breakpoint-18-half {
    width: 50%; }
  .grid__item.breakpoint-18-two-thirds {
    width: 66.6666%; }
  .grid__item.breakpoint-18-three-quarters {
    width: 75%; }
  .grid__item.breakpoint-18-full {
    width: 100%; } }
@media (min-width: 95em) {
  .grid__item.breakpoint-19-one-sixth {
    width: 16.6666%; }
  .grid__item.breakpoint-19-one-fifth {
    width: 20%; }
  .grid__item.breakpoint-19-one-quarter {
    width: 25%; }
  .grid__item.breakpoint-19-one-third {
    width: 33.3333%; }
  .grid__item.breakpoint-19-two-fifths {
    width: 40%; }
  .grid__item.breakpoint-19-half {
    width: 50%; }
  .grid__item.breakpoint-19-two-thirds {
    width: 66.6666%; }
  .grid__item.breakpoint-19-three-quarters {
    width: 75%; }
  .grid__item.breakpoint-19-full {
    width: 100%; } }
@media (min-width: 100em) {
  .grid__item.breakpoint-20-one-sixth {
    width: 16.6666%; }
  .grid__item.breakpoint-20-one-fifth {
    width: 20%; }
  .grid__item.breakpoint-20-one-quarter {
    width: 25%; }
  .grid__item.breakpoint-20-one-third {
    width: 33.3333%; }
  .grid__item.breakpoint-20-two-fifths {
    width: 40%; }
  .grid__item.breakpoint-20-half {
    width: 50%; }
  .grid__item.breakpoint-20-two-thirds {
    width: 66.6666%; }
  .grid__item.breakpoint-20-three-quarters {
    width: 75%; }
  .grid__item.breakpoint-20-full {
    width: 100%; } }
@media (min-width: 105em) {
  .grid__item.breakpoint-21-one-sixth {
    width: 16.6666%; }
  .grid__item.breakpoint-21-one-fifth {
    width: 20%; }
  .grid__item.breakpoint-21-one-quarter {
    width: 25%; }
  .grid__item.breakpoint-21-one-third {
    width: 33.3333%; }
  .grid__item.breakpoint-21-two-fifths {
    width: 40%; }
  .grid__item.breakpoint-21-half {
    width: 50%; }
  .grid__item.breakpoint-21-two-thirds {
    width: 66.6666%; }
  .grid__item.breakpoint-21-three-quarters {
    width: 75%; }
  .grid__item.breakpoint-21-full {
    width: 100%; } }
@media (min-width: 110em) {
  .grid__item.breakpoint-22-one-sixth {
    width: 16.6666%; }
  .grid__item.breakpoint-22-one-fifth {
    width: 20%; }
  .grid__item.breakpoint-22-one-quarter {
    width: 25%; }
  .grid__item.breakpoint-22-one-third {
    width: 33.3333%; }
  .grid__item.breakpoint-22-two-fifths {
    width: 40%; }
  .grid__item.breakpoint-22-half {
    width: 50%; }
  .grid__item.breakpoint-22-two-thirds {
    width: 66.6666%; }
  .grid__item.breakpoint-22-three-quarters {
    width: 75%; }
  .grid__item.breakpoint-22-full {
    width: 100%; } }
@media (min-width: 115em) {
  .grid__item.breakpoint-23-one-sixth {
    width: 16.6666%; }
  .grid__item.breakpoint-23-one-fifth {
    width: 20%; }
  .grid__item.breakpoint-23-one-quarter {
    width: 25%; }
  .grid__item.breakpoint-23-one-third {
    width: 33.3333%; }
  .grid__item.breakpoint-23-two-fifths {
    width: 40%; }
  .grid__item.breakpoint-23-half {
    width: 50%; }
  .grid__item.breakpoint-23-two-thirds {
    width: 66.6666%; }
  .grid__item.breakpoint-23-three-quarters {
    width: 75%; }
  .grid__item.breakpoint-23-full {
    width: 100%; } }

/* TYPOGRAPHY AND LAYOUT SCALING */
/* TYPOGRAPHY EXPANSION */
@media (min-width: 0) {
  html {
    font-size: 50%;
    /* Typically 8px in a lot of web browsers */ } }
@media (min-width: 5em) {
  html {
    font-size: 62.5%;
    /* Typically 10px in a lot of web browsers */ } }
@media (min-width: 10em) {
  html {
    font-size: 75%;
    /* Typically 12px in a lot of web browsers */ } }
@media (min-width: 15em) {
  html {
    font-size: 87.5%;
    /* Typically 14px in a lot of web browsers */ } }
@media (min-width: 60em) {
  html {
    font-size: 100%;
    /* Typically 16px in a lot of web browsers */ } }
/* NOTCHING HEADINGS UP THE SCALE */
@media (min-width: 90em) {
  .text--long-form * + h1 + p, .text--long-form * + h2 + p, .text--long-form * + h3 + p, .text--long-form * + h4 + p, .text--long-form * + h5 + p, .text--long-form * + h6 + p {
    margin-top: 1.5em; }

  .xxx-large {
    font-size: 11.39063em;
    line-height: 1; }

  .xx-large {
    font-size: 7.59375em;
    line-height: 1; }

  .x-large {
    font-size: 5.0625em;
    line-height: 1.1; }

  h1, .large {
    font-size: 3.375em;
    line-height: 1.1; }

  h2, .medium {
    font-size: 2.25em;
    line-height: 1.2; }

  h3, .standard {
    font-size: 1.5em;
    line-height: 1.3; } }
@media (min-width: 115em) {
  html {
    font-size: 112.5%;
    /* Typically 18px in a lot of web browsers */ } }
@media (min-width: 125em) {
  html {
    font-size: 125%;
    /* Typically 20px in a lot of web browsers */ } }
/* LAYOUT EXPANSION */
/* NATURAL SPACING: Comes in regardless of any added classes */
@media (min-width: 25em) {
  .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem; }

  .block--card .container {
    padding-bottom: 1.5rem;
    padding-top: 1.5rem; } }
/* LOOSE SPACING: Comes in regardless of any added classes */
@media (min-width: 45em) {
  .container {
    padding-left: 2.25rem;
    padding-right: 2.25rem; }

  .grid {
    margin-left: -2.25rem; }
    .grid > .grid__item {
      padding-left: 2.25rem; }

  .block .container {
    padding-bottom: 2.25rem;
    padding-top: 2.25rem; } }
/* LUXURY SPACING: Triggered by optional classes */
@media (min-width: 75em) {
  .section > .container {
    padding-left: 3.375rem;
    padding-right: 3.375rem; }

  .grid--luxury-spacing, .grid--oversized-spacing, .grid--supersized-spacing {
    margin-left: -3.375rem;
    margin-top: -3.375rem; }
    .grid--luxury-spacing + *, .grid--oversized-spacing + *, .grid--supersized-spacing + * {
      margin-top: 3.375rem; }
    .grid--luxury-spacing > .grid__item, .grid--oversized-spacing > .grid__item, .grid--supersized-spacing > .grid__item {
      margin-top: 3.375rem;
      padding-left: 3.375rem; }

  * + .grid {
    margin-top: 0; }

  .block--luxury-spacing > .container, .block--oversized-spacing > .container, .block--supersized-spacing > .container {
    padding: 3.375rem; } }
/* A MORE RELAXED BASE VERTICAL RHYTHM FOR LARGER SCREEN SIZES */
@media (min-width: 80em) {
  * + * {
    margin-top: 1.5rem; }

  fieldset .grid__item {
    margin-top: 1.5rem; } }
/* OVERSIZED SPACING: Triggered by optional classes */
@media (min-width: 85em) {
  .section > .container {
    padding-left: 5.0625rem;
    padding-right: 5.0625rem; }
  .section--oversized-spacing > .container, .section--supersized-spacing > .container {
    padding-bottom: 5.0625rem;
    padding-top: 5.0625rem; }
    * + .section--oversized-spacing > .container > .block, * + .section--supersized-spacing > .container > .block {
      margin-top: 3.375rem; }
    .section--oversized-spacing > .container > .block + *, .section--supersized-spacing > .container > .block + * {
      margin-top: 3.375rem; }

  .grid--oversized-spacing, .grid--supersized-spacing {
    margin-left: -5.0625rem;
    margin-top: -5.0625rem; }
    .grid--oversized-spacing + *, .grid--supersized-spacing + * {
      margin-top: 5.0625rem; }
    .grid--oversized-spacing > .grid__item, .grid--supersized-spacing > .grid__item {
      margin-top: 5.0625rem;
      padding-left: 5.0625rem; }

  * + .grid {
    margin-top: 0; }

  .block--oversized-spacing > .container, .block--supersized-spacing > .container {
    padding: 5.0625rem; }
    * + .block--oversized-spacing > .container > .block, * + .block--supersized-spacing > .container > .block {
      margin-top: 3.375rem; }
    .block--oversized-spacing > .container > .block + *, .block--supersized-spacing > .container > .block + * {
      margin-top: 3.375rem; } }
/* SUPERSIZED SCALING: Triggered by optional classes */
@media (min-width: 105em) {
  .section > .container {
    padding-left: 7.59375rem;
    padding-right: 7.59375rem; }
  .section--supersized-spacing > .container {
    padding-bottom: 7.59375rem;
    padding-top: 7.59375rem; }
    * + .section--supersized-spacing > .container > .block {
      margin-top: 5.0625rem; }
    .section--supersized-spacing > .container > .block + * {
      margin-top: 5.0625rem; }

  .grid--supersized-spacing {
    margin-left: -7.59375rem;
    margin-top: -7.59375rem; }
    .grid--supersized-spacing + * {
      margin-top: 7.59375rem; }
    .grid--supersized-spacing > .grid__item {
      margin-top: 7.59375rem;
      padding-left: 7.59375rem; }

  * + .grid {
    margin-top: 0; }

  .block--supersized-spacing > .container {
    padding: 7.59375rem; }
    * + .block--supersized-spacing > .container > .block {
      margin-top: 5.0625rem; }
    .block--supersized-spacing > .container > .block + * {
      margin-top: 5.0625rem; } }
/* TYPOGRAPHY AND LAYOUT SPACING LIMITS */
/* TYPOGRAPHY LIMITS */
/* LIMITING TEXT SPACING */
.text--no-spacing *:not(.grid) + *:not(.grid):not(.grid__item):not(.block) {
  margin-top: 0; }
.text--tight-spacing *:not(.grid) + *:not(.grid):not(.grid__item):not(.block) {
  margin-top: 0.66667rem; }
.text--base-spacing *:not(.grid) + *:not(.grid):not(.grid__item):not(.block) {
  margin-top: 1rem; }

.text--no-spacing .grid__item * + *:not(.block) {
  margin-top: 0; }
.text--tight-spacing .grid__item * + *:not(.block) {
  margin-top: 0.66667rem; }
.text--base-spacing .grid__item * + *:not(.block) {
  margin-top: 1rem; }

/* LAYOUT LIMITS */
/* LIMITING SECTION SPACING */
.section--no-spacing > .container {
  padding-bottom: 0;
  padding-top: 0; }
.section--tight-spacing > .container {
  padding-bottom: 0.66667rem;
  padding-top: 0.66667rem; }
.section--base-spacing > .container {
  padding-bottom: 1rem;
  padding-top: 1rem; }

/* LIMITING BLOCK SPACING */
.block--no-spacing > .container {
  padding: 0; }
.block--tight-spacing > .container {
  padding: 0.66667rem; }
.block--base-spacing > .container {
  padding: 1rem; }

/* THEME */
/* THEME BASCIS: Basic styling that we'll need in all projects */
/* VARIABLES: Variables can be adjusted project-by-project */
/* FONT FAMILIES */
/* BRAND COLOURS */
/* orange */
/* red */
/* yellow */
/* etc. */
/* GENERAL COLOR */
/* BASIC THEME DEPLOY */
html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

body {
  background: #fff;
  color: #333; }

h1, h2, h3, h4, h5, h6 {
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold; }

blockquote {
  border: 1px dashed #aaa;
  font-size: 1.5em;
  line-height: 1.3;
  padding: 1rem; }
  @media (min-width: 25em) {
    blockquote blockquote {
      padding: 1.5em; } }

/* LINKS & BUTTONS */
a {
  color: blue;
  font-weight: bold; }
  a:visited {
    color: purple; }
  a:hover {
    color: green; }
  a:active {
    color: red; }

button {
  background: none;
  font-size: 1em; }

.btn, button {
  border: 0.2em solid;
  border-radius: 0.5em;
  color: blue;
  display: block;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.66667em;
  width: 100%; }
  .btn:visited, button:visited {
    color: purple; }
  .btn:hover, button:hover {
    background: green;
    border-color: green;
    color: #fff;
    cursor: pointer; }
  .btn:active, button:active {
    background: red;
    border-color: red; }
  .btn--secondary, button--secondary {
    display: inline-block;
    width: auto; }
  @media (min-width: 15em) {
    .btn, button {
      padding: 0.66667em 1.5em; } }
  @media (min-width: 25em) {
    .btn, button {
      display: inline-block;
      width: auto; } }

/* SHADING */
/* FORMS */
legend {
  font-weight: bold; }

input, label {
  font-size: 1em; }

input, textarea, select {
  border: 1px solid #888;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1em;
  padding: 0.66667em;
  width: 100%; }

option {
  margin-top: 0; }

/* IMAGERY */
figcaption {
  border: 1px dashed #aaa;
  font-size: 0.66667em;
  line-height: 1.3;
  margin-top: 0;
  /* OWL TURN OFF */
  padding: 1em; }

/* THEME STRUCTURE: Styling only for the purposes of low-fidelity wireframes */
html {
  min-height: 100%; }

body {
  min-height: 100%; }

/* LAYOUT */
.section {
  overflow: hidden; }
  .section--separated {
    border: 1px dashed #aaa; }

.block {
  border: 1px dashed #aaa;
  color: #333; }
  .block:hover {
    color: #333; }

/* HEADER */
.header .container {
  align-items: center;
  display: flex;
  justify-content: space-between; }
.header .logo {
  height: 3.375rem; }
.header .menu {
  align-items: center;
  display: none;
  margin-top: 0; }
  @media (min-width: 60em) {
    .header .menu {
      display: flex; } }
.header .menu__button {
  margin-top: 0;
  /* OWL TURN OFF */
  padding: 0.66667em;
  width: auto; }
  @media (min-width: 60em) {
    .header .menu__button {
      display: none; } }
.header .menu__item {
  list-style: none;
  margin-left: 0;
  margin-top: 0;
  padding-left: 2.25em; }

/* FOOTER */
.footer .logo {
  height: 3.375rem; }
.footer__icon {
  display: inline-block;
  height: 3.375rem;
  margin-right: 1rem;
  margin-top: 0; }

/* FORMS */
input + .small, textarea + .small, select + .small {
  margin-top: 0.66667rem; }

fieldset {
  border: none;
  padding: 0; }

/* BUTTONS */
.btn--secondary {
  font-size: 0.66667em; }
  .btn--secondary + .btn--secondary {
    margin-left: 0.66667em; }

/* THEME STYLING: Project-specific and high-fidelity visual styling */
ul, li {
  list-style: none;
  margin-left: 0;
  padding-left: 0; }

li + li {
  margin-top: 0.66667em; }

code {
  background: #333;
  color: #fff;
  display: inline-block;
  padding: 0.66667em;
  width: auto !important; }

/*# sourceMappingURL=style.css.map */
