/* TYPOGRAPHY BASICS */


/* AXIOMATIC SPACING AND ROOT TYPOGRAPHY */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  & + * {
    margin-top: $base;
  }
}

html {
  font-size: 100%; /* FALLBACK DEFAULT: Best not to change. Adjustments and fine tuning can be done in the "typography-scaling" stylesheet */
  line-height: $ratio;
  -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}

body {
  margin-top: 0; /* Axiomatic exception */
}


/* TEXT SIZING */

.xxx-large {
  font-size: $xxx-large;
  line-height: 1.1;
}

.xx-large {
  font-size: $xx-large;
  line-height: 1.1;
}

.x-large {
  font-size: $x-large;
  line-height: 1.1;
}

h1, .large {
  font-size: $large;
  line-height: 1.2;
}

h2, .medium {
  font-size: $medium;
  line-height: 1.3;
}

h3, .standard {
  font-size: $standard;
  line-height: 1.4;
}

h4, h5, h6, .standard {
  font-size: $standard;
  line-height: 1.4;
}

.small {
  font-size: $small;

  * + * {
    margin-top: $small;
  }

  .small + & {
    margin-top: $small;
  }
}

p {
  line-height: $ratio !important;
}

br {
  margin-top: 0;
}


/* LINE LENGTH LIMITS */

p, h1, h2, h3, h4, h5, h6, blockquote, label, input, textarea, select, button, .btn {
  max-width: 45em; /* Optimum maximum line length, relative to font size */
}

.lockup {
  * {
    max-width: 45rem; /* Optimum maximum line length, relative to root font size. Great for a standardised-width gathering of text with varying font sizes */
    width: 100%;
  }
}


/* LONG-FORM: Adapted rules for long stretches of text, such as articles. */

.long-form {
  & * + {
    & h2, & h3, & h4, & h5, & h6 {
      margin-top: $medium;
    }

    & h1, & h2, & h3, & h4, & h5, & h6 {
      & + p {
        margin-top: $standard;
      }
    }
  }
}


/* LISTS */

li {
  list-style: disc;
  margin-left: $medium;
  // padding-left: $small;

  * + & {
    margin-top: 0;
  }
}


/* FORMS */

fieldset {
  padding: $base;
}

input, label {
  display: block;
}

input, textarea, select {
  margin-top: $small;

  &[type="radio"], &[type="checkbox"] {
    display: inline-block;
    height: $base;
    margin-right: $small;
    margin-top: $small;
    vertical-align: middle;
    width: $base;

    & + p {
      display: inline-block;
      left: 0;
      margin-right: $base;
      margin-top: $small;
      vertical-align: middle;
    }
  }
}
