/* TYPOGRAPHY EXPANSION */


@include breakpoint-0 {
  html {
    font-size: 50%; /* Typically 8px in a lot of web browsers */
  }
}

@include breakpoint-1 {
  html {
    font-size: 62.5%; /* Typically 10px in a lot of web browsers */
  }
}

@include breakpoint-2 {
  html {
    font-size: 75%; /* Typically 12px in a lot of web browsers */
  }
}

@include breakpoint-3 {
  html {
    font-size: 87.5%; /* Typically 14px in a lot of web browsers */
  }
}

@include breakpoint-12 {
  html {
    font-size: 100%; /* Typically 16px in a lot of web browsers */
  }
}


/* NOTCHING HEADINGS UP THE SCALE */

@include breakpoint-18 {
  .text--long-form {
    & * + {
      & h1, & h2, & h3, & h4, & h5, & h6 {
        & + p {
          margin-top: $medium;
        }
      }
    }
  }

  .xxx-large {
    font-size: $xxx-large * $ratio;
    line-height: 1;
  }

  .xx-large {
    font-size: $xxx-large;
    line-height: 1;
  }

  .x-large {
    font-size: $xx-large;
    line-height: 1.1;
  }

  h1, .large {
    font-size: $x-large;
    line-height: 1.1;
  }

  h2, .medium {
    font-size: $large;
    line-height: 1.2;
  }

  h3, .standard {
    font-size: $medium;
    line-height: 1.3;
  }
}

@include breakpoint-23 {
  html {
    font-size: 112.5%; /* Typically 18px in a lot of web browsers */
  }
}

@include breakpoint-25 {
  html {
    font-size: 125%; /* Typically 20px in a lot of web browsers */
  }
}
